.about {
  &__text,
  &__img {
    
    @mixin atSmall {
      width: 50%;
    }
  }

  &__img {
    padding-bottom: 2rem;

    @mixin atSmall {
      padding-bottom: 0;
    }
  }

  &__text {

    @mixin atSmall {
      padding-right: 30px;
      font-size: 1.125rem;
    }

    @mixin atMedium {
      font-size: 1.375rem;
    }
    
  }
}