.btn {
  background-color: $mainOrange;
  color: #FFF;
  font-size: 1.1rem;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  padding: .75rem 1.2rem;
  display: inline-block;
  background-color: $mainOrange;

  @mixin atSmall {
    font-size: 1.25rem;
  }

  &--large {
    position: relative;
    padding: 1.1rem 2.5rem 1.1rem 1.5rem;

    &::before,
    &::after {
      position: absolute;
      content: '';
      top: 0;
      right: 0;
      width: 30px;
      height: 100%;
      background-color: #fff;
      transform: skewX(-20deg);
    }

    &::after {
      width: 50px;
      right: -2rem;
      transform: skewX(0);
    }
  }

  &__arrow {
    position: relative;
    display: inline-block;
    top: 7px;
    right: 20px;
    width: 30px;
    height: 25px;
    background: url(assets/images/icons/arrow.svg) top center no-repeat;
    background-size: contain;
    z-index: 3;
  }

}