.feature-item {
  display: flex;
  align-items: center;
  margin-bottom: 2.8rem;

  @mixin atSmall {
    width: 50%;
  }

  @mixin atMedium {
    width: 33%;
  }

  &__icon {
    width: 65px;
    height: 65px;
  }

  &__text {
    padding-left: 15px;
    font-size: 1rem;

    @mixin atMedium {
      font-size: 1.25rem;
    }

    b {
      font-size: 1.3rem;

      @mixin atMedium {
        font-size: 1.5rem;
      }
    }
  }
}