.page-section {
  padding: 3.2rem 0 0;

  @mixin atMedium {
    padding: 5.5rem 0 0;
  }
  
  &--services {
    padding: 0;
  }

  &--contact {
    position: relative;
    z-index: 3;

    @mixin atMedium {
      margin-bottom: -100px;
    }
  }

}