.quote {
  position: relative;
  padding-left: 54px;

  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 24px;
    height: 100%;
    background-color: $mainOrange;
  }
  
  & quote {
    display: block;
    margin-bottom: 10px;
    font-style: italic;
    font-size: 1.25rem;

    @mixin atSmall {
      font-size: 1.5rem;
    }

    @mixin atMedium {
      font-size: 1.7rem;
    }
  }

  & p {
    font-size: 1rem;
    font-weight: 500;

    @mixin atSmall {
      font-size: 1.2rem;
    }

    @mixin atMedium {
      font-size: 1.3rem;
    }
  }
}