.service-item {
  position: relative;
  margin-top: 1.2rem;
  text-align: center;
  background-color: $mainDark;
  color: #fff;
  transition: transform .3s ease-out;

  &:hover {
    transform: scale(1.05);
  }

  @mixin atSmall {
    width: 50%;
  }

  &__front {
    padding: 2rem;
    padding-bottom: 1.2rem;

    svg {
      width: 75px;
      height: 75px;
    }
  }

  &__icon {
    display: inline-block;
    width: 75px;
    height: 75px;
  }
  

  &__title {
    margin-bottom: 0;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Special Elite', cursive;
    font-size: 1.5rem;
    text-transform: uppercase;
  }

  &__back {
    padding: 2rem;
    padding-top: 0;
    font-size: 1.2rem;
  }

}