.service-item {
  position: relative;
  padding: 2rem;
  text-align: center;
  background-color: #E8E8E8;
  transform-origin: center center;
  transition: all .3s ease-out;

  &:hover {
    transform: scale(1.2);
    background-color: $mainDark;
    color: #fff;
    z-index: 5;
  }

  @mixin atMedium {
    background-color: #E8E8E8;
    color: initial;
  }

  &__img {

    svg {
      width: 75px;
      height: 75px;
      stroke: $mainOrange;
    }
  }

  &__icon {
    display: inline-block;
    width: 75px;
    height: 75px;
  }
  

  &__title {
    font-family: 'Special Elite', sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
  }

  &__text {
    font-size: 1.1rem;
  }

}