.wrapper {
  overflow: hidden;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 1236px;
  margin-left: auto;
  margin-right: auto;

  & .wrapper {
    padding: 0;
  }

  &--full-width {
    width: 100%;
    max-width: 100%;
  }

  &--narrow {
    max-width: 976px;
  }

  &--orange {
    background-color: $mainOrange;
  }

  &--gray {
    background-color: #E8E8E8;
    color: #000;
  }

  &--flex {

    @mixin atSmall {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__grid {
    display: grid;
    gap: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    overflow: visible;

  }

  &--col-4 {
    padding-top: 1rem;
    /* padding-bottom: 1rem; */

    @mixin atSmall {
      grid-template-columns: repeat(2, 1fr);
    }

    @mixin atMedium {
      padding-top: 0;
      padding-bottom: 0;
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &--align-center {
    align-items: center;
  }

  &--space-around {
    justify-content: space-around;
  }

  &--row-reverse {
    flex-direction: row-reverse;
  }

  &--services {
    @mixin atMedium {
      background-color:  #E8E8E8;
    }
  }

  &--features {
    padding-top: 2.8rem;
    background-color: #e8e8e8;

    @mixin atSmall {
      padding-top: 2.8rem;
      background: linear-gradient(rgba(255, 255, 255, .85), rgba(255, 255, 255, .85)), url('assets/images/grid.jpg') top center no-repeat;
      background-size: cover;
    }
  }

}