.wrapper {
  overflow: hidden;
  padding-left: 18px;
  padding-right: 18px;
  max-width: 1236px;
  margin-left: auto;
  margin-right: auto;

  &--full-width {
    width: 100%;
    max-width: 100%;
  }

  &--narrow {
    max-width: 976px;
  }

  &--orange {
    background-color: $mainOrange;
  }

  &--gray {
    background-color: #E8E8E8;
    color: #000;
  }

  &--flex {

    @mixin atSmall {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &--align-center {
    align-items: center;
  }

  &--space-around {
    justify-content: space-around;
  }

  &--row-reverse {
    flex-direction: row-reverse;
  }

  &--features {
    padding-top: 2.8rem;
    background-color: #e8e8e8;

    @mixin atSmall {
      padding-top: 2.8rem;
      background: linear-gradient(rgba(255, 255, 255, .85), rgba(255, 255, 255, .85)), url('assets/images/grid.jpg') top center no-repeat;
      background-size: cover;
    }
  }

}